../api-plugins/api-core=false
../api-plugins/api-plugin-accounts=false
../api-plugins/api-plugin-address-validation=false
../api-plugins/api-plugin-address-validation-test=false
../api-plugins/api-plugin-authentication=false
../api-plugins/api-plugin-authorization-simple=false
../api-plugins/api-plugin-carts=false
../api-plugins/api-plugin-catalogs=false
../api-plugins/api-plugin-discounts=false
../api-plugins/api-plugin-discounts-codes=false
../api-plugins/api-plugin-email=false
../api-plugins/api-plugin-email-smtp=false
../api-plugins/api-plugin-email-templates=false
../api-plugins/api-plugin-files=false
../api-plugins/api-plugin-i18n=false
../api-plugins/api-plugin-inventory=false
../api-plugins/api-plugin-inventory-simple=false
../api-plugins/api-plugin-job-queue=false
../api-plugins/api-plugin-navigation=false
../api-plugins/api-plugin-notifications=false
../api-plugins/api-plugin-orders=false
../api-plugins/api-plugin-payments=false
../api-plugins/api-plugin-payments-example=false
../api-plugins/api-plugin-payments-stripe=false
../api-plugins/api-plugin-pricing-simple=false
../api-plugins/api-plugin-products=false
../api-plugins/api-plugin-settings=false
../api-plugins/api-plugin-shipments=false
../api-plugins/api-plugin-shipments-flat-rate=false
../api-plugins/api-plugin-shops=false
../api-plugins/api-plugin-simple-schema=false
../api-plugins/api-plugin-sitemap-generator=false
../api-plugins/api-plugin-surcharges=false
../api-plugins/api-plugin-system-information=false
../api-plugins/api-plugin-tags=false
../api-plugins/api-plugin-taxes=false
../api-plugins/api-plugin-taxes-flat-rate=false
../api-plugins/api-plugin-translations=false
../api-plugins/api-plugin-es-catalog-sync=add
